*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
}

body {
    background-color: #1E1E29;
}

header {
    background-color: #004374;
    height: 82px;
    width: 1200px;

}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;
}

.menu {
    display: flex;
    justify-content:space-around;
    width: 700px;
}

.menu a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
}

.menu2 {
    display: flex;
    justify-content:center;
    width: 520px;
}

.rodape {
    height: 100px;
    position: absolute;
    bottom: 0;
    flex-shrink: 0;
    background-color: #004374;
    width: 100%;    
    text-align: left;
    line-height: 100px;

}

.container { 
    width: 1440px;
    display: flex;
    justify-content: space-between;
}