@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
 :root {
    --font-style: 'Nunito Sans', sans-serif;
}

* {
    box-sizing: border-box ;
    margin:0 ;
    padding: 0;
}

 body {
     background-color: #1E1E29;
     font-family: var(--font-style);
 }
 
 header {
     background-color: #004374;
     height: 82px;
     /* width: 1200px; */
 
 }
 
 .container { 
    max-width: 1200px;
}  

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    height: 60px;
    position: relative;
    margin: 0 auto;
}

.menu {
    display:flex;
    justify-content: space-between;
    width: 600px;
    margin: 0 auto;
}

.menu a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    justify-content: center;
    position: relative; 
}

.menu-icones {
    display: flex;
    justify-content: space-between;
    width: 190px;
    position: relative;
    margin: 0 auto;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: #004374;
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.login-box .user-box input {
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;    
}

.login-box .user-box label {
    position: relative;
    left: 0;
    top: -70px;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -85px;
    left: 0;
    color: #1E1E29;
    font-size: 12px;
}

#submit {
    padding: 10px 20px;
    color:  #CBBDDB;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid #1E1E29;
    margin: auto;
}

#submit:hover {
    background: #1E1E29;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px #1E1E29, 0 0 25px #1E1E29, o o 50px #1E1E29 0 0 100px #1E1E29;
}

.button-form {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#register {
    font-size: 14px;
    text-decoration: none;
    color: #CBBDDB; 
    margin: auto;
    width: 60%;
    text-align: center;   
}

#register a {
    margin: auto;
    color:#CBBDDB;
    text-decoration: none;
    text-transform: uppercase;
}

#register a:hover {
    background: #1E1E29;
    color: #CBBDDB;
    border-radius: 5px;
    box-shadow: 0 0 5px #1E1E29, 0 0 25px #1E1E29, o o 50px #1E1E29, 0 0 100px #1E1E29;
}

footer {
    background-color: #004374;
}
.rodape {
    height: 100px;
    position: absolute;
    bottom: 0;
    flex-shrink: 0;
    background-color: #004374;
    width: 100%;    
    text-align: left;
    line-height: 100px;

}

/* .logo-rodape {
 
} */

