@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}


body {
    background-color: #1E1E29;
}

header {
    background-color: #004374;
    height: 82px;

}

.container { 
    max-width: 1200px;
}  

.cabecalho {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    height: 100%;
    width: 250px;
    position: relative;
    margin: 0;
}

#menu {
    display:flex;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto;
    list-style: none;
    padding: 0px 0px 0px 0px;

  }
  
#menu a {
    display: block;
    padding: 0.5rem;
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    justify-content: center;
    position: relative; 
  }
  
#btn-mobile {
    display: none;
  }

.menu-icones {
    display: flex;
    justify-content: space-between;
    width: 190px;
    position: relative;
    margin: 0;
}

.menu-perfil {
    display: none;
    width: 190px;
    position: relative;
    margin: 0;
}

.banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}

.banner-joystick {
    background-image: url(../img/banner-joystick.png);
}

.banner-headset {
    background-image: url(../img/banner-headset.png);
}

.banner-chair {
    background-image: url(../img/banner-chair.png);
}

/* .banner-joystick-s {
    background-image: url(../img/joystick-S.png);
}

.banner-headset-s {
    background-image: url(../img/headset-S.png);
}

.banner-chair-s {
    background-image: url(../img/chair-S.png);
} */

.posicionamento-banner {
    height: 100%;
    display: flex;
    justify-content:left;
    align-items: center;
}

.divisao {
    
    margin: 30px auto;
    padding: 0.2em 0.2em 0.2em 0.2em;
    background-color: #004374;
   
    text-align: center;
    display: table;
    vertical-align: middle;
}

.divisao h2{
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-family: sans-serif;
   
}

.departamentos {
    height: 300px;
    align-self: center;
    display: flex;
    text-align: center;
    vertical-align: middle;

    justify-content: space-between;
    line-height: 5px;
    
    
}

.departamentos img {
    height: 200px;
}

.departamentos a{
    display:inline-table;
    width: 60px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-family: sans-serif;
    
}

.ofertas {
    background-color: #1E1C21;
    padding-top: 30px;
}

.espaco-produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.cardnews{
    width: 15em;
    height: 22.5em;
    background: linear-gradient(180deg, rgba(83, 83, 83, 0.5) 0%, #000000 100%);
    color: #fff;
    margin-bottom: 2em;
    box-shadow: 0px 0px 10px rgb(0, 0, 0),0px 0px 30px rgb(0, 0, 0);
}

.cardnews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cardnews img {
    width: 100%;
}

.texto-card {
    width: 85%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.texto-card h3, .texto-card p {
    margin: 0;
}

.cardnews h3{
    font-size: 24px;
    font-weight: 600;
}

.cardnews .preco {
    font-size: 24px;
    font-weight: 600;
}

.cardnews a {
    width: 100%;
    height: 35px;
    text-align: center;
    line-height: 2;
    
    background-color: #004374;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

footer {
    background-color: #004374;
}
.rodape {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;

    color: white;

}

.links-footer {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.links-footer h2 {
    font-family: sans-serif;
    font-size: 24px;
}

.links-footer a {
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.links-footer a:hover {
    color: #0d6efd;
}

.logo-rodape {
    align-self: center;
    width: 20%;
    height: 20%;
}


.sociais {
    align-self: center;
    width: 31%;
}

.sociais p {
    font-family: sans-serif;
    font-size: 18px;

}

.sociais form {
    width: 100%;
    display: flex; 
    justify-content: space-between;
    margin-bottom: 10px;
}

.sociais input[type="email"]{
    height: 37px;
    width: 65%;  
    border-radius: 0px; 
    border-style: none; 
    text-indent: 5px;
}

.sociais input[type="email"]::placeholder {
    color: #B8B3B3;
    font-weight: bold;
}

.sociais button{
    width: 35%;
    color: white;
    background-color: black;
    border: none;
    font-family: 'Titillium Web';
    font-weight: 600;
}

.wrapper {
    display: inline-flex;
    list-style: none;
}

.wrapper h2 {
    font-family: sans-serif;
    font-size: 24px;
    align-self: center;
}

.wrapper .icon {
    position: relative;
    background: black;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
  
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
  
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
}
  
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
}
  

@media (max-width: 1200px) {

    .logo {
        width: 35%;
        height: 100%;
    }

    #menu {
        width: 500px;
    }

    #menu a {
        font-size: 12px;
      }

    .menu-icones {
        width: 20%;
       
    }

    .departamentos {
        height: 150px;
    }

    .departamentos img {
        height: 150px;
    }

    .departamentos a {
        font-size: 10px;
    }
      
}


@media (max-width: 992px) {

    .menu-perfil {
        width: 15%;
        order: 3;
        display: flex;
    }

    .menu-icones {
        display: none;
    }

    header {
        background-color: #004374;
        height: 70px;
    }

    .logo {
        justify-content: center;
        align-self: center;
        order: 2;
        width: 40%;
        height: 100%;
       
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #004374;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid #fff(0, 0, 0, 0.05);
    }
    #btn-mobile {
        order: 1;  
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #hamburger {
        border-top: 2px solid #fff;
        width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: white;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    .logo-rodape {
        width: 200px;
        height: 50px;
    }

    .sociais button{
        width: 55%;
        font-weight: 300;
    }
    .sociais input[type="email"]{
        height: 47px;
        width: 75%;  
    }    

    .departamentos {
        display: flex;
        height: auto;
        flex-wrap: wrap;
        align-items: center;
        justify-self: center;
    
    }

    .departamentos img {
        height: 300px;
    }

    .departamentos a {
        font-size: 10px;
    }
    
    .links-footer h2 {
        font-size: 15px;
    }
    
    .links-footer a {
        font-size: 10px;
    }
    
    .logo-rodape {
        align-self: center;
        width: 20%;
        height: 20%;
    }
    
    
    .sociais p {
        font-size: 15px;
    
    }
    .sociais input[type="email"]{
        height: 27px;
        width: 85%;  
    }
    
    .sociais button{
        font-weight: 200;
    }
    
    
    .wrapper h2 {
        font-size: 15px;
    }
    
    .wrapper .icon {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }
  }

  @media (max-width: 768px) {
    

    .espaco-produtos {
        justify-content: space-around;
    }

    .cardnews{
        width: 10em;
        height: 17.5em;
    }

    .logo-rodape {
        order: 1;
        align-self: baseline;
        width: 25%;
        height: 100%;

    }

    .links-footer {
        order: 2;

    }

    .links-footer h2 {
        font-size: 10px;
    }
    
    .links-footer a {
        font-size: 5px;
    }

    .sociais {
        order: 3;
    }

   
    .sociais p {
        font-size: 10px;
    
    }
    .sociais input[type="email"]{
        height: 30px;
        width: 85%;  
        font-size: 10px;
    }
    
    .sociais button{
        font-weight: 30;
        width: 35%;
        font-weight: 200;
        font-size: 10px;
    }
    
    
    .wrapper h2 {
        font-size: 10px;
    }
    
    .wrapper .icon {
        width: 25px;
        height: 25px;
        font-size: 10px;
    }

  }

  @media (max-width: 510px) {

    .departamentos img {
        height: 100px;
    }

    .logo-rodape {
        display: none;
    }

    .links-footer {
        justify-content: space-between;
    }

    .links-footer h2 {
        font-size: 20px;
        padding: 15px;
    }
    
    .links-footer a {
        font-size: 15px;

    }
   
    .sociais p {
        font-size: 15px;
    
    }
    .sociais input[type="email"]{
        height: 30px;
        width: 200px;  
        font-size: 10px;
    }
    
    .sociais button{
        font-weight: 30;
        width: 50px;
        font-weight: 200;
        font-size: 10px;
    }
    
    
    .wrapper h2 {
        display: inline-flex;
        font-size: 20px;
    }
    
    .wrapper .icon {
        width: 25px;
        height: 25px;
        font-size: 10px;
    }
  }