*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E1E29;
}

header {
    background-color: #004374;
    height: 82px;

}

.container { 
    max-width: 1200px;
}  

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    height: 60px;
    position: relative;
    margin: 0 auto;
}

.menu {
    display:flex;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto;
}

.menu a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    justify-content: center;
    position: relative; 
}

.menu-icones {
    display: flex;
    justify-content: space-between;
    width: 190px;
    position: relative;
    margin: 0 auto;
}

.banner {
    background-image: url(../img/tamplate\ 2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}

footer {
    background-color: #004374;
}
.rodape {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    line-height: 150px;

    color: white;
}

.logo-rodape {
    position:relative;
    justify-content: center;
}

